*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color: lightskyblue;
}
h1{
  padding: 7px;
  font-size: 40px;
  font-family: Lucida Sans;
  color: white;
  background-color: steelblue;
}
ul{
  list-style: none;
  height: 400px;
  max-width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 7px;
  background-color: lightgray;
  overflow-y: scroll;
}
input{
  margin-left: 20px;
  width: 425px;
  margin-right: 5px;
  height: 50px;
  padding: 10px;
  font-size: 20px;
  font-family: Comic Sans MS;
  max-width: 100%;
}
button{
  height: 50px;
  width: 60px;
  font-size: 15px;
  font-family: Arial;
  background-color: steelblue;
  clear: both;
}
ul li{
  color: grey;
  font-family: Comic Sans MS;
  font-size: 25px;
  background-color: lightgreen;
  padding: 3px;
  margin: 7px;
}
